*,
*:before,
*:after {
    box-sizing: border-box;
}

//#region UIs
.logos{
    .logo {
        width: 218px;
        height: 40px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .btnFee {
        width: 128px;
        height: 40px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

.summary {
    margin-bottom: 30px;
    height: 534px;
    
    .text-info{
        margin-top: 150px;
    }
}

.platform {
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-around;

    .pt {
        width: 244px;
        height: 221px;
        margin-bottom: 24px;

        .iconPT {
            width: 90px;
            height: 90px;
            margin: 0 auto;
        }

        .name {
            margin: 24px auto;
        }
    }
}

.roleTittle {
    margin-top: 100px;
}

.roleRemark {
    margin-top: 16px;
}

.roles {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .role {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;

        img {
            width: 260px;
            height: 260px;
            border-radius: 12px 12px 0px 0px;
        }

        .text-info {
            margin: 16px auto;
        }

        .detail {
            margin-bottom: 24px;
        }
    }
}

.talksFee {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    .talks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .talk {
            width: 230px;
            height: 280px;
            padding-left: 32px;
            padding-top: 32px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;

            .imgOutside {
                width: 86px;
                height: 86px;
                box-shadow: 0px 2px 10px #00000014;
            }

            .textB {
                font: normal normal bold 18px/26px Noto Sans TC;
                margin-top: 24px;
                margin-bottom: 16px;
            }

            .text {
                margin-right: 32px;
                margin-bottom: 48px;
                font: normal normal normal 16px/24px Noto Sans TC;
            }
        }
    }

    .fee {
        margin: auto auto;
        margin-left: 100px;

        .st {
            margin-top: 16px;
            margin-bottom: 24px;
        }

        .btnFee {
            width: 136px;
            height: 50px;
        }
    }

}


.comments {
    margin-top: 48px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    
    .frame{
        position: relative;
        .userIcon {
            height: 80px;
            margin-bottom: 24px;
            position: absolute;
            top: 0px;
            left: 40px;
        }
    }

    .bg {
        margin-top: 56px;
        border-radius: 12px;
        box-shadow: 0px 2px 10px #00000014;
    }

    .middle {
        margin-left: 16px;
        margin-right: 16px;
    }

    

    .comment {
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 16px;
    }

    .rating {
        display: flex;
        justify-content: space-between;

        .stars {
            display: flex;
            flex-direction: row;
            margin-right: 20px;

            img {
                height: 16px;
                margin-right: -37px;
            }
        }
    }
}

.pt {
    width: 10px;
    height: 10px;
    margin: auto 5px;
}

.ptEnd {
    width: 16px;
    height: 10px;
    margin: auto 5px;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 100px;

    img {
        margin: auto;
        width: 100%;
    }

    .txt {
        top: 0%;
        position: absolute;
        margin: auto;
        margin-top: 18%;
    }

    .btnFee {
        top: 0%;
        position: absolute;
        margin-left: 5%;
        margin: auto;
        margin-top: 25%;
        width: 136px;
        height: 50px;
    }
}

.footerBar{
    background-color: #F5F5F5;
}
.copyRight {
    margin: 16px auto;
}

//#endregion

.fab{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom:20px;
    right: 20px;
}
//#region backgrounds
.bgHome {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/home.svg),
        url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/bg_home.svg);

    background-repeat: no-repeat, no-repeat;
    background-position: top right 100px, top right;
    background-size: 532px, auto;
}
.mobileHome{
    visibility: hidden;
    height: 0;
}
.bgBall1 {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/ball01.svg);
    background-repeat: no-repeat;
    background-position: bottom left -180px;
    background-size: 360px;
}

.bgBall2 {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/ball02.svg);
    background-repeat: no-repeat;
    background-position: top right -100px;
    background-size: 310px;
}

.bgBall3 {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/ball03.svg);
    background-repeat: no-repeat;
    background-position: top 20px left 15px;
    background-size: 150px;
}

//#endregion

//#region UIs of fee
.bannerImg{
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/banner.svg);
    background-repeat: no-repeat;
    background-position: right top;
    height: 559px;
}
.explain{
    margin-top: 92px;
    margin-bottom: 16px;
}
.explainTxt{
    margin-bottom: 240px;
}

.flexSelsect{
    margin-top: 30px;
}
.selectItem{
    width: 130px;
    height: 50px;
    margin: auto 8px;
}

.version{
    margin: auto 8px;
    margin-top: 50px;
    border-radius: 0px 0px 12px 12px;
    .versionTittle{
        padding: 10px;
        border-radius: 12px 12px 0px 0px;
    }
    .versionContent{
        border-radius: 0px 0px 12px 12px;
    }
    .versionText{
        margin: 32px auto;
    }
    .varView{
        width: 169px;
        height: 108px;
        border-radius: 12px;
        background: #F5F5F5;
        flex-direction: column;
        margin-bottom: 16px;
    }
    .unit{
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .equal{
        margin: auto 16px;
    }
    .versionItem{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .btn{
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.question{
    margin-top: 50px;
    margin-bottom: 50px;
}
.questionOpen{
    .flexSB .fs-5{
        padding-bottom: 16px;
    }
}

//#endregion

//#region backgrounds of fee
.bannerBg{
    border-radius: 0px 0px 0px 300px;
    height: 470px;
    background: #F7F9FD;
    border: 1px solid yellow;
}
.bgBallFee{
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/ball03.svg);
    background-repeat: no-repeat;
    background-position: left -200px center;
    background-size: 360px;
}
//#endregion

//#region flex layouts
.hMg {
    margin-left: 100px;
    margin-right: 100px;
}

a{
    text-decoration:none;
    color: white;
}
a:hover{
    color: white;
}
//#endregion
//#region flex layouts
.flexR {
    display: flex;
    flex-direction: row;
}
.flexSB{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fw{
    flex-wrap: wrap;
}
//#endregion


//375px以下 執行 home
@media(max-width:750px) {
    .bgHome {
        background-image: url();
    }
    .mobileHome{
        visibility: visible;
        background-image: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/bg_home_sm.svg);
        background-repeat: no-repeat;
        height: auto;
    background-size: contain;
    }

    .bgBall1 {
        background-image: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/ball01.svg);
        background-repeat: no-repeat;
        background-position: bottom left -180px;
        background-size: 126px;
    }

    .bgBall2 {
        background-image: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/ball02.svg);
        background-repeat: no-repeat;
        background-position: top right -50px;
        background-size: 135px;
    }

    .bgBall3 {
        background-image: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/ball03.svg);
        background-repeat: no-repeat;
        background-position: top 20px left -70px;
        background-size: 150px;
    }

    .hMg {
        margin-left: 20px;
        margin-right: 20px;
    }

    .summary{
        height: auto;
        .text-info{
            margin-top: 30px;
        }
    }

    .platform{
        justify-content: center;
        flex-wrap: wrap;
    }

    .roles {
        justify-content: center;
    }

    .talksFee {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
    
        .talks {
            margin-left: 100px;
            margin-right: 100px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .fee{
            display: flex;
            flex-direction: column;
            justify-content: center;
            div{
                align-items: center;
                text-align: center;
                margin:auto auto;
            }
        }

    }

    .comments {
        flex-wrap: wrap;
        justify-content: center;
        .middle {
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    .footer{
        img{
            content: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/footer_sm.svg);
            margin-bottom: 100px;
        }
        .txt {
            margin-top: 75%;
        }
    
        .btnFee {
            margin-top: 85%;
        }
    }
}

//375px以下 執行 fee
@media(max-width:750px) {
    .bannerImg{
        background-image: none;
    }
    .bannerBg{
        background-image: url();
        background-repeat: no-repeat;
        background-position: top 72px;
    }
    .logoFee{
        left: 20px;
    }
    .mobileBanner{
        background-image: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/banner_sm.svg);
        background-repeat: no-repeat;
        background-position: left top -130px;
        height: 495px;
        .hMg{
            position: absolute;
        }
        .explain{
            top: 90px;
        }
        .explainTxt{
            top: 230px;
        }
    }
}


//?